<% include header%>
    <% include menuLeft%>

        <div class="col-sm-9">
            <div class="blog-post-area">
                <h2 class="title text-center">Latest From our Blog</h2>
                <div class="single-blog-post">
                    <h3><%= campground.name %></h3>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="fa fa-user"></i> Mac Doe</li>
                            <li>
                                <i class="fa fa-clock-o"></i> 1:33 pm</li>
                            <li>
                                <i class="fa fa-calendar"></i> DEC 5, 2013</li>
                        </ul>
                    </div>
                    <a href="#">
                        <img src="<%= campground.image %>" alt="">
                    </a>
                    <p><%- campground.description %></p>
                </div>
            </div>
            <!--/blog-post-area-->
        </div>

        <% include footer%>
  