</div>
</div>
</section>

<footer>
  <div class="container">
    <div class="footer-info text-center">
      AAA
    </div>
  </div>
</footer>

<script>
  CKEDITOR.replace('editor1');
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.scrollUp.min.js"></script>
<script src="/static/js/price-range.js"></script>
<script src="/static/js/jquery.prettyPhoto.js"></script>
<script src="/static/js/main.js"></script>
</body>

</html>