
<script>
  CKEDITOR.replace( 'editor1' );
</script>

<footer>
    <div class="container">
      <div class="footer-info text-center">
        AAA
      </div>
    </div>
  </footer>
  </body>
  </html>