<h1>Login Member</h1>
<h2><%= error %></h2>
<a href="/">Home</a>
<form action="/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Loggin</button>
</form>