<h1>Add New Campground</h1>

<a href="/">Home</a>

<form action="/campgrounds" method="POST">
    <input type="text" name="name">
    <input type="text" name="image">
    <button type="submit">Add New</button>
</form>
